.AlbumItemContainer {
  width: 22vw;
  display: flex;
  flex-direction: column;
  // height: 350px;
  align-items: center;
  position: relative;

  &:hover {
    .image {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: flex;
    }
  }
}

.BackgroundImage {
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}
